<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})">

<head>
    <title>this is home page</title>
</head>

<body>
    <section>
        <p>this page represent list of Queries </p>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="backcolor">
                        <th scope="col">Query ID</th>
                        <th scope="col">Email</th>
                        <th scope="col">Title</th>
                        <th scope="col">Detail</th>
                        <th scope="col">Date</th>
                        <th scope="col">Veiw</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="q : ${Queries}">
                        <td th:text="${q.queryId}"></td>
                        <td th:text="${q.email}"></td>
                        <td th:text="${q.title}"></td>
                        <td th:text="${q.detail}"></td>
                        <td th:text="${q.date}"></td>

                        <button type="button" aria-placeholder="View">
                            <td>
                                <a th:href="@{'/user/query/'+${q.queryId}}" href="#"><span th:text="View"></span></a>
                            </td>
                        </button>
                    </tr>

                </tbody>
            </table>
        </div>

        <!-- pagination  -->
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li th:if="${currentPage != 0}" class="page-item">
                    <a th:href="@{'/queries/'+${currentPage-1}}" class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <!-- <li th:classappend="${currentPage == i-1?'active':''}" th:each="{ i: ${#numbers.sequence{1,totalPage}}" class="page-item">
                    <a th:href="@{'/user/queries/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></li> -->

                <li class="page-item"><a class="page-link" href="#">1</a></li>

                <li th:if="${currentPage+1 != totalPage}" class="page-item">
                    <a th:href="@{'/queries/'+${currentPage+1}}" class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- pagiantion ends here  -->

    </section>




</body>

</html>