<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="base::Layout(~{::section})">

<head>
    <meta charset="UTF-8" />
    <title>this is about page</title>
</head>

<body>
    <section>
        <div class="container justify-content-center">
            <div class="row">
                <div class="col-md-6">
                    <div class="card" style="justify-content: center;">
                        <form id="forget-password-form" class="box" th:action="@{/forgetpassword/generateOTP}" action="#" method="post">
                            <h1>Forget Password?</h1>

                            <div th:if="${param.error}" class="alert alert-danger">
                                Invalid Credentials
                            </div>

                            <div>
                                <p class="text-muted"> Please enter your Email</p>
                                <input type="text" id="username" name="email" placeholder="Username" autofocus>

                                <a class="sign text-muted" href="/signup">Don't have account?</a>

                            </div>

                            <button class="btn btn-lg btn-primary btn-block" type="submit">Get Password!</button>

                            <!-- <div class="col-md-12">
                                <ul class="social-network social-circle">
                                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" class="icoLinkedin" title="Liknedin"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>

</body>

</html>